.MainProducts h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #8d8d8d;
    text-align: center;
    margin-bottom: 2rem;
}

.Products h2{
    font-size: 1.5rem;
    color: #8d8d8d;
    margin: 0 0 30px 0; 
}

.searchProduct {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.searchProduct {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
    padding: 12px 20px;
}

.searchBtn {
    background-color: #8d8d8d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: #000;
}

.product{
    color: #26c6da;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 8px #6ff9ff;
    margin-bottom: 20px;
}

.btn{
    background: #26c6da;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background: #0095a8;
}

.cheapBtn {
    background: #43a047;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.cheapBtn:hover {
    background: #00701a;
}

.expensiveBtn {
    background: #e64a19;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.expensiveBtn:hover {
    background: #ac0800;
}